body {
    background-color: hsl(200, 15%, 85%);
    
    
}

h1 {
    color: #333333;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: hsl(200, 15%, 55%);
    color: hsl(200, 15%, 30%);
    font-size: 200%;
    text-decoration: underline;
}

h3 {
    background-color: hsl(200, 15%, 65%);
    color: hsl(200, 15%, 40%);
    font-size: 130%;
    
}

p {
    background-color: hsl(200, 15%, 75%);
}

em {
    color: hsl(200, 100%, 40%);
   
   
}

strong {
    color: hsl(200, 100%, 30%);
    font-weight: normal;
}

address {
    background-color: white;
   
    text-align: right;
}
